* {
    transition: all .2s ease-in-out;
}

body {
    background-color: #1b1d1c;
}

main {
    height: 100vh;
    align-content: center;
}

.main {
    height: 100vh;
}

.logo-container {
    display: flex;
    width: 50vmin;
    height: 50vmin;
    align-items: center;
    align-content: center;

    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.logo-container:hover {
    transform: scale(1.1);
}

.logo {
    position: absolute;
    /* margin: auto; */
    width: 50vmin;
    /* align-self: center; */
}

/* .logo img {
    display: block;
    position: absolute;
    width: 50vmin;
    margin: auto;
    align-self: center;
} */

.item {
    background-color: #f4f5f9;
    line-height: 8vmin;
    border-radius: 100vmax;
    text-align: center;
    display: block;
    margin-top: 5vmin;
    margin-bottom: 5vmin;
    margin-left: 1vmin;
    margin-right: 1vmin;

    color: #1b1d1c;
    font-size: x-large;
    text-decoration: none;
}

.item:hover {
    transform: scale(1.05);
}

a:visited {
    color: #1b1d1c;
    text-decoration: none;
}

a:hover {
    color: #1b1d1c;
}

.col {
    align-self: center;
}

#motto {
    position: absolute;
    width: 20vmin;
    left: 15vmin;
    top: 15vmin;
}